@use '../../../assets/styles/variables' as nav;

.cart-modal-overlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .cart-modal-content {
    background: nav.$bg-modalwindow-message;
    border-radius: 12px;
    padding: 20px 24px;
    width: 75vw;
    max-width: 340px;
    position: relative;
    text-align: left;
    color: nav.$font-lightColor;

    h2 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 20px;
      margin-top: 20px;
      color: nav.$font-lightColor;
    }

    p {
      font-size: 18px;
      line-height: 1.4;
      font-weight: 600;
      color: nav.$font-lightColor;
    }

    .cart-modal-close {
      position: absolute;
      top: 0px;
      right: 10px;
      background: none;
      border: none;
      font-size: 40px;
      color: nav.$font-lightColor;
      cursor: pointer;
      padding: 0;
      line-height: 1;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}