@use '../../assets/styles/variables' as nav;

.product-skeleton-item {
  background-color: nav.$bg-skeleton;
  border-radius: 12px;
  height: 422px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .product-skeleton-item {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .product-skeleton-item {
    height: 320px;
  }
}

@media (max-width: 480px) {
  .product-skeleton-item {
    height: 280px;
  }
}

@media (max-width: 360px) {
  .product-skeleton-item {
    height: 240px;
  }
}