@use '../../assets/styles/variables' as nav;

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: nav.$bg-color-lightTheme;
}

.no-products-on-sale {
  color: nav.$font-darkColor;
  padding: 0 20px;
}

.page-title-discount {
  font-size: 64px;
  font-weight: 700;
  color: nav.$font-darkColor;
  padding: 32px 20px 32px;
}

.filters-panel {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  padding: 0 20px;
}

.filter-input,
.sort {
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px 16px;
}

.filter-group,
.filter-group-sorted {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-label {
  font-weight: bold;
  margin-right: 5px;
}
.filter-input {
  width: 112px;
  padding: 8px 12px;
}

.filter-select {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  gap: 8px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(130px, 1fr));
  gap: 32px;
  margin-bottom: 24px;
  padding: 0 20px;
}

.product-grid .product-card {
  background-color: nav.$bg-color-white;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 3px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.product-grid .product-card:hover {
  border-color: #8a2be2;
}

.product-grid .product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.discount-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: calc(100% - 80px);
  background-color: nav.$sale-color;
  color: nav.$font-lightColor;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-icons {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .heart-icon-sales,
  .shopping-bag-icon-sales {
    font-size: 48px;
    stroke-width: 20px;
    fill: nav.$font-lightColor;
    stroke: nav.$font-darkColor;
  }
}

.all-sales-button {
  font-size: 16px;
  color: nav.$font-greyColor;
  background-color: nav.$bg-color-lightTheme;
  border: 1px solid #ddd;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.all-sales-button:hover {
  background-color: #f4f4f4;
}

@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(4, minmax(130px, 1fr));
    gap: 20px;
    padding: 0 20px;
  }
  .container {
    padding: 0 20px;
  }
  .filters-panel {
    margin-bottom: 32px;
  }
  .page-title {
    padding: 40px 20px 32px;
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    gap: 20px;
  }
  .sales-section .container,
  .container {
    padding: 0 20px;
  }
  .sale {
    font-size: 55px;
    margin-right: 15px;
  }
  .header-line-between {
    margin-left: 20px;
  }
  .header-all-sales-button {
    font-size: 14px;
    padding: 6px 12px;
  }
  .discount-badge {
    max-width: calc(100% - 70px);
  }
  .page-title {
    font-size: 62px;
    padding: 32px 20px 32px;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    gap: 16px;
  }
  .sales-section .container,
  .container {
    max-width: 100;
    padding: 0 20px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
  }

  .filters-panel {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .filter-group-sorted {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
  }
  .filter-group {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0;
    width: 70%;
  }

  .sale {
    font-size: 45px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .header-line-between {
    display: none;
  }

  .product-card img {
    height: 200px;
  }
  .discount-badge {
    top: 16px;
    left: 16px;
  }
  .card-icons {
    top: 10px;
    right: 10px;
  }
  .breadcrumbs {
    display: none;
  }
  .page-title {
    text-align: start;
    font-size: 48px;
  }
}

@media (max-width: 360px) {
  .sales-section .container,
  .container {
    padding: 0 20px;
  }
  .product-grid {
    grid-template-columns: repeat(1, minmax(320px, 1fr));
    gap: 12px;
    margin-bottom: 30px;
  }
  .sale {
    font-size: 40px;
  }

  .page-title {
    text-align: start;
    font-size: 40px;
    padding: 32px 0 24px 0;
  }

  .filters-panel {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: 24px;
  }

  .filter-group-sorted {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
  }
  .filter-group {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0;
    width: 40%;
  }
}
