@use '../../assets/styles/variables' as nav;

.day__modal-background {
  background-color: nav.$bg-modalWindow;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 0 20px;

  .day__modal-window {
    background-color: nav.$sale-color-green;
    border-radius: 12px;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 548px;

    .day__modal-header {
      display: flex;
      text-align: start;
      justify-content: space-between;
      gap: 16px;
      color: nav.$font-lightColor;

      .modal__header-title {
        font-size: nav.$modal-title;
        font-weight: 600;
        max-width: 568px;
        margin: 0;
      }

      .day__modal-close__icon {
        display: flex;
        font-size: nav.$modal-close-icon;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }

    .day__product-card {
      background-color: nav.$bg-color-white;
      border-radius: 12px;
      overflow: hidden;
    }

    .product__image {
      position: relative;
      border-bottom: 1px solid nav.$border-color-grey;

      img {
        width: 100%;
        object-fit: cover;
        display: block;
        aspect-ratio: 4/3;
      }

      .discount__badge {
        background: nav.$sale-color;
        color: nav.$font-lightColor;
        font-weight: 600;
        font-size: 20px;
        padding: 4px 8px;
        border-radius: 6px;
        position: absolute;
        top: 16px;
        left: 16px;
      }

      .icon {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: nav.$icons-size;
        color: nav.$font-lightColor;
        stroke: nav.$font-darkColor;
        stroke-width: 20px;
        cursor: pointer;
      }

      .icon__favourite {
        color: nav.$green-color;
        stroke: nav.$font-darkColor;
        stroke-width: 20px;
      } 
    }

    .product__description {
      padding: 20px 32px 32px;
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 16px;

      &-name {
        font-size: 20px;
        font-weight: 500;
        color: nav.$font-darkColor;
      }

      .product__pricing {
        display: flex;
        gap: 16px;
        align-items: baseline;

        .product__price {
          font-size: 40px;
          font-weight: 600;
          color: nav.$font-darkColor;
        }

        .original__price {
          font-size: 20px;
          color: nav.$font-greyColor;
          font-weight: 500;
          text-decoration: line-through;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .day__modal-background {
    padding: 0 10px;

    .day__modal-window {
      top: 100px;
      padding: 24px;
      border-radius: 8px;
      gap: 12px;

      .day__modal-header {
        .modal__header-title {
          font-size: 44px;
          max-width: 100%;
        }
      }
      .product__description {
        padding: 16px 24px 24px;

        &-name {
          font-size: 18px;
        }

        .product__pricing {
          gap: 12px;

          .product__price {
            font-size: 32px;
          }

          .original__price {
            font-size: 16px;
          }
        }
      }

      .product__image {
        .icon {
          display: none;
        }

        .discount__badge {
          font-size: 16px;
          padding: 3px 6px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .day__modal-background {   
    .day__modal-window {
      position: relative;
      top: 100px;
      left: 47%;
      transform: translate(-50%);
      margin: 0 10px;

      .day__modal-header {
        .modal__header-title {
          font-size: 46px;
          max-width: 100%;
        }
      }   
    }
  }
}

@media (max-width: 400px) {
  .day__modal-background {   
    .day__modal-window {
      position: relative;
      top: 100px;
      left: 46%;
      transform: translate(-50%);
      margin: 0 10px;

      .day__modal-header {
        .modal__header-title {
          font-size: 32px;
          max-width: 100%;
        }
        .day__modal-close__icon {
          font-size: 34px;    
        }
      }   
    }     
  }
}