@use '../../assets/styles/variables' as nav;

.info-modal__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-modal__window {
  background-color: nav.$bg-color-white;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
  position: relative;
}

.info-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.info-modal__title {
  font-size: 20px;
  color: nav.$font-darkColor;
  font-weight: 600;
  margin: 0;
}

.info-modal__close-icon {
  font-size: 24px;
  color: nav.$font-darkColor;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 480px) {
  .info-modal__window {
    max-width: 300px;
  }
}