@use '../../../assets/styles/variables' as nav;

.btn {
  border: none;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
}

.color-green {
  background-color: nav.$sale-color-green;
  color: nav.$font-lightColor;
}

.color-white {
  background-color: nav.$bg-color-lightTheme;
  color: nav.$font-darkColor;

  &:hover {
    background-color: nav.$font-darkColor;
    color: nav.$font-lightColor;
  }
}

.color-submitted {
  background-color: nav.$bg-skeleton;
  color: nav.$sale-color-green;
  pointer-events: none;
}

.color-neutral {
  background: none;
  border: 1px solid nav.$font-light-grey;
  color: nav.$font-greyColor;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: nav.$bg-skeleton;
  }
}

.size-L {
  padding: 16px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.size-S {
  padding: 8px 16px;
  font-size: 16px;
}
