.wrapper {
  min-height: 100vh;
  background-color: #fffff1;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 760px;
  height: 530px;
  opacity: 1;
  transform: rotate(0deg);
  margin-top: 20px;
}

.imgBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.image {
  width: 80px;
  height: 100px;
}

.imageCactus {
  width: 131px;
  height: 118px;
}

.titleBlock {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--black);
  margin: 0;
  line-height: 130%;
}

.text {
  font-weight: 500;
  font-size: 18px;
  margin: 12px 0 24px;
  color: var(--grey);
  max-width: 400px;
  text-align: center;
  line-height: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text span {
  display: block;
  margin-top: 8px;
}

.button {
  border-radius: 6px;
  padding: 12px 52px;
  font-weight: 600;
  font-size: 18px;
  color: var(--txt-white);
  background: var(--green);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button:focus {
  background-color: #7D8F2D;
  color: var(--black);
}

.night_mode .title {
  color: var(--white);
}
.breadcrumbs {
  display: none;
}

@media screen and (min-width: 480px) {
  .contentBlock {
    width: 480px;
    height: 391px;
    gap: 24px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .image {
    width: 109px;
    height: 150px;
  }
  .imageCactus {
    width: 181px;
    height: 162px;
  }
  .title {
    font-size: 48px;
  }
  .text span {
    display: block;
  }
  .text {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-top: 60px;
  }
  .contentBlock {
    width: 768px;
    height: 488px;
    gap: 32px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .image {
    width: 161px;
    height: 220px;
  }
  .imageCactus {
    width: 266px;
    height: 240px;
  }
  .title {
    font-size: 56px;
  }
  .text {
    margin-bottom: 32px;
    font-size: 20px;
  }
  .text span {
    display: block;
  }
  .button {
    padding: 16px 56px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .contentBlock {
    width: 760px;
    height: 530px;
    margin-top: 20px;
  }
  .image {
    width: 180px;
    height: 246px;
  }
  .imageCactus {
    width: 300px;
    height: 270px;
  }
  .title {
    margin-top: 16px;
    font-size: 64px;
  }
  .text span {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin-top: 80px;
  }
  .contentBlock {
    width: 760px;
    height: 530px;
    margin-top: 20px;
  }
  .text span {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .contentBlock {
    width: 360px;
    height: 381.81817626953125px;
    gap: 24px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .title {
    font-size: 24px;
  }
  .text {
    font-size: 10px;
  }
  .text span {
    display: block;
  }
  .button {
    padding: 4px 16px;
    font-size: 10px;
  }
  .image {
    width: 80px;
    height: 100px;
  }
  .imageCactus {
    width: 131px;
    height: 118px;
  }
}