@use '../../assets/styles/variables' as nav;

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: nav.$bg-color-lightTheme;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: nav.$font-greyColor;
  margin-left: 16px;

  .breadcrumb-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    align-items: center;
  }
}

.breadcrumb-text {
  padding: 8px 16px;
  border: 1px solid nav.$font-light-grey;
  border-radius: 6px;
  color: nav.$font-greyColor;

  &:hover {
    color: #656262;
  }
}

.breadcrumb-text-2 {
  padding: 8px 16px;
  border: 1px solid nav.$font-light-grey;
  border-radius: 6px;
  color: nav.$font-darkColor;
}

.breadcrumb-line {
  display: block;
  height: 1px;
  width: 16px;
  background-color: nav.$font-light-grey;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #666;
  margin-left: 16px;

  .breadcrumb-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    align-items: center;
  }
}

.breadcrumb-text {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #8b8b8b;

  &:hover {
    color: #656262;
  }
}

.breadcrumb-text-2 {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #424436;
}

.breadcrumb-line {
  display: block;
  height: 1px;
  width: 16px;
  background-color: #ddd;
}

.page-title {
  font-size: 64px;
  font-weight: 700;
  color: nav.$font-darkColor;
}

.filters-panel {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  font-size: 20px;
}

.filter-group,
.filter-group-sorted {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-label {
  font-weight: bold;
  margin-right: 5px;
}

.filter-input {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  width: 112px;
}

.filter-select {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.checkbox-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.checkbox-label {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.checkbox-input {
  appearance: none;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  position: relative;

  &:checked {
    background: #92a134;
    border-color: #ccc;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 20px;
      border: solid white 1px;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      top: 4px;
      left: 12px;
    }
  }
}

.no-products {
  color: nav.$font-darkColor;
  padding: 0 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  gap: 32px;
  margin-bottom: 0px;
}

@media (max-width: 1440px) {
  .product-grid {
    grid-template-columns: repeat(4, minmax(225px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(4, minmax(225px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(354px, 1fr));
    gap: 20px;
  }

  .container {
    max-width: 700px;
  }

  .page-title {
    font-size: 62px;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(210px, 1fr));
    gap: 16px;
  }

  .container {
    padding: 0 10px;
  }

  .filters-panel {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .filter-group-sorted,
  .filter-group {
    width: 80%;
    justify-content: start;
  }

  .breadcrumbs {
    display: none;
  }

  .page-title {
    text-align: start;
    font-size: 48px;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 0 5px;
  }

  .product-grid {
    grid-template-columns: repeat(1, minmax(320px, 1fr));
    gap: 12px;
    margin-bottom: 30px;
  }

  .page-title {
    font-size: 40px;
  }

  .filter-group,
  .filter-group-sorted {
    width: 100%;
  }
}