@use '../../assets/styles/variables' as nav;

.categories {
  &__page-section {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  &__section-title {
    font-size: 64px;
    font-weight: 700;
    color: nav.$font-darkColor;
    padding: 20px 0;
    justify-items: center;
  }

  &__title-dark {
    color: nav.$font-lightColor;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;  
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 30px;
  }
}

@media (max-width: 768px) {   
  .categories__section-title {
    font-size: 56px;
  }

  .categories__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .categories__section-title {
    font-size: 48px;
  }

  .categories__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
  }
}

@media (max-width: 360px) {
  .categories__section-title {
    font-size: 40px;
  }
}