@use '../../assets/styles/variables' as nav;

.sale__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 40%;
  padding: 32px 32px 32px 0;

  &-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 32px;

    .input__container {
      display: flex;
      flex-direction: column;
    }
  }

  &-section {
    background: nav.$bg-sale-form;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    margin: 0 20px 60px 20px;
    overflow: hidden;

    h3 {
      padding: 32px 0 0 0;
      font-size: 64px;
      font-weight: 700;
      color: nav.$font-lightColor;
      margin: 0 auto;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    gap: 32px; 
    max-width: 100%;
    max-height: 100%;

    .sale__form-image__container {
      .sale__form-image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }

  .error-message {
    font-size: 16px;
    font-weight: 500;
    color: #ff0000;
    margin-top: 8px;
    text-align: start;
  }

  .submit__message {
    margin-top: 8px;
    color: nav.$font-lightColor;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
  }
}

@media (max-width: 1000px) {
  .sale__form {
    width: 70%;

     &-section {

    h3 {
        font-size: 52px;
        padding: 24px 20px 0 20px;
      }
   }
  } 
}

@media (max-width: 767px) {
  .sale__form {
    padding: 24px 20px 0 20px;
    width: 100%;
    gap: 20px;

    &-section {
      padding: 24px 20px 0;

      h3 {
        font-size: 48px;
        padding: 24px 20px 0 20px;
      }
    }

    &-container {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }

    &-inputs {
      padding: 0;
    }
  }
}

@media (max-width: 480px) {
  .sale__form-section {
    h3 {
      font-size: 46px;
      padding: 24px 20px 0 20px;
    }
  }
}

@media (max-width: 360px) {
  .sale__form-section {
    h3 {
      font-size: 32px;
      padding: 24px 20px 0 20px;
    }
  }
}