@use '../../../assets/styles/variables' as nav;

.add-to-cart-btn {
  width: 100%;
  padding: 12px 0;
  background: nav.$button-color-green;
  border-radius: 5px;
  color: nav.$font-lightColor;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 2px;

  &:hover:not(:disabled) {
    background: #7a8a2b; 
  }

  &:disabled,
  &.added {
    background: #d8e3ab; 
    color: #8ca05a;      
    // cursor: not-allowed;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .add-to-cart-btn {
    width: 100%;
    min-width: 140px;
    margin-left: 0;
    margin-top: 14px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .add-to-cart-btn {
    width: 100%;
    min-width: 160px;
    margin-left: 0;
    margin-top: 0;
  }
}
@media (min-width: 769px) {
  .add-to-cart-btn {
    width: auto;
    min-width: 160px;
    margin-left: 0;
    margin-top: 0;
  }
}